<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TIENDITA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div><ion-img src="https://lh3.googleusercontent.com/proxy/fHImaR020f6crUBzwRhX-H9BDAy2w1eoTXwhw8Ge29_qdpx0TA4KgLjwckftk08L9enAQdQs5srFiR_NZeS_xcSUUBH2V0fU9_MoUwIS77fXXw8iTPawF1gCNSOpNa2mrVaUzsvFDhm7pnIQFuIkKg"></ion-img></div>
  

  <div id="container">
    <ion-grid fixed='true'>
      <ion-row>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/mujeres">mujeres</ion-button>
        </ion-col>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/hombres">hombre</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/kid">ninos</ion-button>
        </ion-col>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/otros">otros</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
