<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TIENDITA</ion-title> 
    <ion-button slot="end"><ion-icon name="cart-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div><ion-img src="https://lh3.googleusercontent.com/proxy/8OhaSQO5WDvB9ppekr9fqYaJNoacQZdNPnWnpLF4teVgUnUmK89T7rqLLLm4ykXDk1tfUnDZKUoLFjCMqD02YFgCEsEmuU6E4ScfhEpNYSulR26Tns-36P2loFrSVUsDRZ2YTf3wlEKItCS3VyW1sw"></ion-img></div>
  

  <div id="container">
    <ion-grid fixed='true'>
      <ion-row>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/mujeres">mujeres</ion-button>
        </ion-col>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/hombres">hombre</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/kid">ninos</ion-button>
        </ion-col>
        <ion-col size="6"><ion-button shape="round" routerLink="/home/otros">otros</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
